<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html, charset=UTF-8" http-equiv='Content-Type' />
</head>
<body>

<h3> Bienvenido <%= @contact.con_nya %>,</h3>

<h4>¡Solo queda un simple paso para finalizar la registracion!</h4>

<p> Por favor, presione el link.<br/></p>

<p><%= link_to 'Presiona Aquí para confirmar su mail', contacts_mail_confirmation_path(:id_usuario => @contact.id) %></p>

<p><br/>... y así podra acceder a toda la información sin restricciones.</p>



<p><br/><br/> Equipo de Seguridad. Texha Argentina</p>


</body>
</html>


